p{
    margin-top: 0px;
    margin-bottom: 0px;
}

.top-grid{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr ;
    align-items: center;
    margin-bottom: 10px;
    column-gap: 2px;
}

.logo{
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.image-1{
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 20px;
}


.second-grid{
    display: grid;
    grid-template-columns: 8fr 2fr;
    margin-bottom: 30px;
}

.bio{
    width: 300px;
    margin-left: 30px;

}


.cropped-image{
    width: 100px;
}